body
{
  color: green; 
} !important
h1
{
  background-color: black;
  color: white;
  font-family: verdana;
}
p
{
  background-color: black;
  color: white;
  font-family: verdana
}
html
{
  background-color: black;
}
footer
{
  font-family: verdana;
  color: white;
}
img
{
  background-color: white;
}
a
{
  color: white;
}
div
{
  margin-top: 10px;
  margin-left: 20px;
}
